.nav {
    background-color: white;
    padding: 10px;
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    /* flex is use for all align in one line*/
    display: flex;
    box-shadow: 0px 3px 65px 8px rgba(0, 0, 0, 0.15);
}

.nav_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    width: 60%;
    float: left;
}

.logo img {
    padding: 10px;
}

.nav_side {
    /* float is use for align content to right*/
    float: right;
    width: 40%;
    margin-top: 30px;
}

.nav_side a {
    text-decoration: none;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.nav_side a:hover {
    color: orange;
    text-decoration: underline;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}


/*Second page css*/

.main {
    background-image: url("web.jpg");
    /*vh is the one of the unit of height*/
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main .main_content {
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.main .main_content h2 {
    color: white;
    font-size: 50px;
    font-family: cosmic, sans-serif;
    font-weight: bolder;
    text-align: center;
    /* to reduce the line of the height*/
    line-height: 25px;
}


/* span=changing */

.main .main_content h2 span {
    font-size: 15px;
    opacity: 0.9;
    color: #FF5722;
    font-weight: lighter;
    line-height: 10px;
}


/* button */

.main .btn {
    margin-top: 20px;
}

.main .btn a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 00.5s;
    -webkit-transition: 00.5s;
    -moz-transition: 00.5s;
    -ms-transition: 00.5s;
    -o-transition: 00.5s;
}


/* hover effect over button*/

.main .btn a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* css for product section  */

.product .h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}


/* now css on product container  use the flex 
for they are come in one line */

.product {
    padding-bottom: 50px;
}

.product .product_container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}


/* come in items */

.product .product_container .item {
    width: 33.33%;
    margin: 10px;
    height: auto;
}


/* want to give hover effect on items for users */

.product .product_container .item:hover {
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
}


/* img*/

.product .product_container .item .item__img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}


/* fix the size of img */

.product .product_container .item .item__img img {
    width: 100%;
    height: 250px;
}


/* content part */

.product .product_container .item .item_content {
    text-align: center;
}


/* for heading sofa etc */

.product .product_container .item .item_content h3 {
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
}


/* similar for paragram */

.product .product_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}


/* for buy now button */

.product .product_container .item .item_content a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 00.5s;
    -webkit-transition: 00.5s;
    -moz-transition: 00.5s;
    -ms-transition: 00.5s;
    -o-transition: 00.5s;
}


/* this is for buy now button */

.product .product_container .item .item_content a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* product btn  */

.product .product_btn {
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}


/* for the product button anker tag  */

.product .product_btn a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* hover for the product btn */

.product .product_btn a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* keypoints css */

.keypoint {
    padding: 50px;
}

.keypoint h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}


/* come to container */

.keypoint .key_container {
    display: flex;
}

.keypoint .key_container .key_content {
    width: 40%;
    padding: 20px;
    float: left;
}

.keypoint .key_container .key_content li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid orange;
    color: black;
    text-align: left;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(red, green, blue, alpha);
}


/* key images */

.keypoint .key_container .key_img {
    width: 40%;
    float: right;
    margin-left: 100px;
}

.keypoint .key_container .key_img img {
    width: 100%;
}


/* Review section mean testi */

.testi {
    padding: 50px;
}

.testi h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.testi .testi_container {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.testi .testi_containe .carousel-inner {
    background-color: white;
    box-shadow: none;
}

.testi .testi_container .item {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: none;
}


/* img part */

.testi .testi_container .item .item__img {
    width: 50%;
    height: 250px;
    overflow: hidden;
    text-align: center;
}


/* fix the size of img */

.testi .testi_container .item .item__img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*i want to make it square*/
}


/* item content part */

.testi .testi_container .item .item_content {
    text-align: center;
}


/* for heading sofa etc */

.testi .testi_container .item .item_content h3 {
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
}


/* similar for paragram */

.testi .testi_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}


/* team */

.team {
    padding: 50px;
}

.team h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.team .team_container {
    display: flex;
}

.team .team_container .team_video {
    width: 50%;
    padding: 20px;
}

.team .team_container .team_video video {
    width: 100%;
    height: auto;
    border: 8px solid orange;
    outline: none;
}

.team .team_container .team_content {
    width: 40%;
    padding: 20px;
    margin-left: 50px;
}

.team .team_container .team_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}


/* feedback form */

.feed {
    padding: 50px;
    background-image: url("feedback.jpg");
    background-size: cover;
}

.feed h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.feed .feedform {
    text-align: center;
}

.feed .feedform form {
    padding: 20px;
}

.feed .feedform form input {
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}

.feed .feedform form textarea {
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}

.feed .feedform form button {
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.feed .feedform form button:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* about us */

.about_us {
    padding: 100px;
}

.about_us h2 {
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.about_us p {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-family: cosmic, sans-serif;
    line-height: 25px;
}


/* contact us */

.contact_container {
    padding: 100px;
}

.contact_container h2 {
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.contact_container .g_map {
    border: 10px solid purple;
}

.contact_container .contact_content {
    padding: 20px;
}

.contact_container .contact_content p {
    padding: 10px;
    font-size: 15px;
    text-align: left;
    font-family: cosmic, sans-serif;
    line-height: 25px;
}


/* footer */

footer {
    background-color: #99a3a4;
    padding: 50px;
}

footer .pages {
    text-align: center;
}

footer .pages h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .pages a:hover {
    color: white;
}


/* similarly do other for also just copyy ther footer code */

footer .doc {
    text-align: center;
}

footer .doc h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .doc a {
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .doc a:hover {
    color: white;
}


/* socila */

footer .social {
    text-align: center;
}

footer .social h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .social a {
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}

footer .social a:hover {
    color: white;
}


/* contact us */

footer .contact {
    text-align: center;
}

footer .contact h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .contact a {
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}

footer .contact a:hover {
    color: white;
}